[datastax-ddc] 
name = DataStax Repo for Apache Cassandra
{# baseurl = http://rpm.datastax.com/datastax-ddc/{{ cassandra.version }} #}
baseurl = http://repo.1rstwap.com/yum/cassandra/3.0/
enabled = 1
gpgcheck = 0